.medios
    font-weight: 700

.order-form
    max-width: 800px
    margin: 0 auto
    button
        border: none        

input[type=text],
input[type=email],
input[type=password],
textarea
    padding: 1.5rem

.form-group--select
    select
        padding-top: 0
        padding-bottom: 0
        height: 3.1rem

.errors
    span
        color: red

.mensaje
    font-weight: bold
    color: red

/* Articulos */
.list-articulos
    ul
        margin: 0
        padding: 0
        list-style: none
        li
            padding: .5rem 0             
.list-articulos__title    
    position: relative    
    em
        font-style: normal
        display: inline-block
        background: $white
        position: relative
        z-index: 3
    &:after        
        content: ''
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAYAAAD9yd/wAAAAE0lEQVQIW2NsbO3+X19dysiABgBUcgQCodoOmQAAAABJRU5ErkJggg==) 100% 100% repeat-x
        position: absolute
        bottom: 5px
        left: 0
        width: 100%
        height: 1px
        display: block
        overflow: hidden
        padding: 13px 0 0
        clear: none
        z-index: 1


/* Order Categories */
.order-categories
    max-width: 600px
    margin: 0 auto
.order-category    
    label
        background: #f1f0f0
        border-radius: 3px
        border: 1px solid #dcdcdc
        text-align: center
        padding: 2rem        
        cursor: pointer
        display: block
    input
        display: none
    input[type="radio"]:checked + label
        background: $grey
        color: $white
        border-color: $grey

.order-category__icon
.order-category__title
    font-size: 1.2rem
    display: block


.order-form__section    
    border: 1px solid #eee    


/* Total box */
.total-box__amount
    font-size: 2rem
    font-weight: bold
    span
        opacity: .3