.hero
    color: $white
    background-image: url(../img/bg.jpg)
    background-size: cover
    padding: 0 0 3rem 0

.hero__logo
    max-width: 200px
    width: 100%

.hero__micro-title
    text-transform: uppercase
.hero__title
    font-size: 2rem
    font-weight: 700
    line-height: 100%    

@include media-breakpoint-up(md)
    .hero
        padding: 0 0 5rem 0  
    body
        &.home
            .hero
                padding: 0 0 10rem 0

    .hero__logo
        max-width: 350px